h1{
    display: flex;
     justify-content: center;
     text-decoration: underline;
     text-transform: uppercase;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     background-color: black;
     color: whitesmoke;
     padding: 20px
}

.game-container{
    
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
   background-color: rgba(197, 193, 198, 0.795);
}

.info{
    font-size: 25px;
}
.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset{
    margin:0 23px;
    padding: 6px 14px;
    background: #000000;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

body{
    background-color: antiquewhite;
}

.container{
    border: 1px solid black;
    padding: 40px;
    border-radius: 10px;
    border-width: 10px;
    border-color: rgb(22, 21, 21);
    background-color: azure;
}

